
.icon-soccer:before { content: '\e800'; } /* '' */
.icon-restaurant:before { content: '\e801'; } /* '' */
.icon-tree-1:before { content: '\e802'; } /* '' */
.icon-school:before { content: '\e804'; } /* '' */