html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.icon {
    width: 40px;
    position: absolute;
    -webkit-filter: drop-shadow( 0 0 1px white );
    filter: drop-shadow( 0 0 1px white );
}
.text {
    color: #9A3800;
    position: absolute;
    text-shadow: 0 0 4px #fff, 0 0 1em white, 0 0 0.2em white;
    font-weight: bold;
    font-size: 18px;
}
